header{
	background: #2c3e50;
	padding: 0px;
	/*margin-bottom: 30px;*/
	font-family: Century;
	
	/*position: fixed;
	width: 100%;
	height: 65px;
	bottom: 0;
    left: 0;
    padding: 11px;
	margin-top: 11px;
	border-radius: 5px;*/
}
#idLineaLogueoBienvenida{
	/*padding: 0px;*/
	height: 28px;
	background:#2c3e50;
	text-align: right;
	position: inherit;
}

#idGuardarNavBar{
	text-align: right;
	position: inherit;
}

#idLineaLogueoSalir{
	/*padding: 0px;*/
	height: 25px;
	background:#2c3e50;
	text-align: right;
	position: inherit;
}

#navLogOut{
	background:red;
	padding: 0px;
	height: 15px;
	text-align: right;
	height: 80px;
}

#nav{
	/*height: 40px;*/
	margin-bottom: 40px;
}

.navColor{
	background: #2c3e65;
	border: 0px;
}

header h1{
	font-size: 45px;
	color: white;
}

header h5{
	color: white;
}

header div h3 button{
	font-size: 20px;
}

body{
	height: 100%;
	background: #A4A4A4; <!--#A4A4A4;  #BDBDBD #E6E6E6   #000000;-->
	color: black; <!--#fff;-->
	padding: 5px;
}

footer{
	width: 100%;
	height: 65px;
	position: fixed;
    bottom: 0;
    left: 0;

	background:#2c3e65;
	color: white;
	padding: 11px;
	margin-top: 11px;
	border-radius: 5px;
}

tr {
	color:black;
}

address{
	text-align: center;
}

.fontMenu {
	font-size: 20px;
	font-family: Arial Black;
}

#contenido {
    padding-bottom: 65px; /* El tamaño del footer para evitar el sobreposicionamiento */
}

.subrayado{
  text-decoration: underline;
}

/*input[type="text"]:not([size]) { 
height: 1.5em;
}*/




#idGuardarRecibo{
	padding: 7px;
	margin-bottom: 27px; 
}
#descuentoBtnAgregarId{
	padding: 4px;
	background-color: #E1F5A9;
}
#depositoBtnAgregarId{
	padding: 4px;
	background-color: #E1F5A9;
}
#chequeBtnAgregarID{
	padding: 4px;
	background-color: #E1F5A9;	
}




.input-group-addon{
	/*width: 90px;*/
}


#inGrTotalFacturas{
	/*margin-bottom: 27px;*/
}

#mostrar_mdl_factura{
	background-color: #E55959;
}
#mostrar_mdl_cliente{
	/*vertical-align: left;*/
	background-color: #E55959;
}




.input-group{
	margin-top: 7px;
	margin-bottom: 7px;
}

.tab-content{
	border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;

    height: 490px;
  	color: white;
  	/*background-color: #2c3e50;*/
  	/*background-color: #715B5B; esta bueno*/


  /*	background-color: #2c3e50;*/
  	background-color: #2c3e50;
  	padding : 5px 15px;
  	padding-top: 28px;
}

.nav-tabs {
    margin-bottom: 0px;
}

/*#contenedorTabPanel {
  height: 230px;
  border-radius: 5px;
  padding: 11px;
  border:5px;
}*/

input[type="text"] { 
	height: 1.5em;
}

input[type="miTabPanelText"] { 
	height: 30px;
	width: 100%;
	background-color: #F2F2F2; /*#F2F2F2;*/
	color: black;
}

input[type="miTabPanelText2"] { 
	height: 30px;
	width: 100%;
	background-color: white;
}

input[type="miTabPanelText3"] { 
	height: 34px;
	width: 100%;
	background-color: white;
}

/*span[type="mispan"] { 
	margin-top: 11px;
}*/

/*label[for="exampleInputEmail1"]{ 
	border-left: none;
}*/

/*#wrapper {
    min-height: 100%;
    position: relative;
}*/

#tblFactura {
  height: 480px;
  overflow-y: auto;
  /*width: 500px;*/
  width: 100%;
  display: block;
  background-color: #2c3e50;
}
#tblFactura td{
	border-bottom: 1px solid white;
	border-right: 1px solid white;
	color: white;
	font-size:12px;
	width: 100%;
}



#tableChequeId{
	height: 380px;
  	overflow-y: auto;
  	width: 100%;
  	display: block;
  	background-color: #2c3e50;
}
#tableChequeId td{
	border-bottom: 1px solid white;
	border-right: 1px solid white;
	color: white;
	font-size:12px;
	width: 100%;
}



#tableDepositoID{
	height: 380px;
  	overflow-y: auto;
  	width: 100%;
  	display: block;
  	background-color: #2c3e50;
}
#tableDepositoID td{
	border-bottom: 1px solid white;
	border-right: 1px solid white;
	color: white;
	font-size:12px;
	width: 100%;
}



#descuentoTableId{
	height: 380px;
  	overflow-y: auto;
  	width: 100%;
  	display: block;
  	background-color: #2c3e50;
}
#descuentoTableId td{
	border-bottom: 1px solid white;
	border-right: 1px solid white;
	color: white;
	font-size:12px;
	width: 100%;
	white-space: nowrap;
}



#idTableSelectCte{
	height: 400px;
  	width: 100%;
	display: block;
	overflow-y: auto;
  	background-color: #A47878;
}
#idTableSelectCte td{	
	border-bottom: 1px solid white;
	border-right: 1px solid white;
	color: black;
	font-size:12px;
	width: 100%;
}



#facturaTblModal{
	height: 400px;
  	width: 100%;
	display: block;
	overflow-y: auto;
  	background-color: #A47878; /*#2c3e50;	*/
}
#facturaTblModal td{
	border-bottom: 1px solid white;
	border-right: 1px solid white;
	color: black;
	font-size:12px;
	width: 100%;
}

#facturaTblModal tr:hover{
	color: gray;
}


/* TABLAS DEL MENU VER */
#tblFacturaVer{
	height: 200px;
  	width: 100%;
	display: block;
	overflow-y: auto;
  	background-color: #2c3e50; /*#2c3e50;	*/
}

#tblFacturaVer td{
	border-bottom: 1px solid white;
	border-right: 1px solid white;
	color: white;
	font-size:12px;
	width: 100%;
	white-space: nowrap;
}

#tableChequeVer{
	height: 200px;
  	width: 100%;
	display: block;
	overflow-y: auto;
  	background-color: #2c3e50; /*#2c3e50;	*/
}

#tableChequeVer td{
	border-bottom: 1px solid white;
	border-right: 1px solid white;
	color: white;
	font-size:12px;
	width: 100%;
	white-space: nowrap;
}

#tableDepositoVer{
	height: 200px;
  	width: 100%;
	display: block;
	overflow-y: auto;
  	background-color: #2c3e50; /*#2c3e50;	*/
}

#tableDepositoVer td{
	border-bottom: 1px solid white;
	border-right: 1px solid white;
	color: white;
	font-size:12px;
	width: 100%;
	white-space: nowrap;
}

#tableRetencionVer{
	height: 200px;
  	width: 100%;
	display: block;
	overflow-y: auto;
  	background-color: #2c3e50; /*#2c3e50;	*/
}

#tableRetencionVer td{
	border-bottom: 1px solid white;
	border-right: 1px solid white;
	color: white;
	font-size:12px;
	width: 100%;
	white-space: nowrap;
}
/* END MENU VER TABLES*/


/*.mifit td.fit,
.mifit th.fit {
	white-space: nowrap;
    width: 1%;
}*/

/* unvisited link grey */
#topMenu a:link {
/*	color: blue; #777;*/
}
/* visited link grey */
#topMenu a:visited {
/*	color: orange; #777;*/
}
/* mouse over link blue */
#topMenu a:hover {
	color: gray; /*#0CF;*/
}
/* selected link blue */
#topMenu a:active {
	color: red;
}