<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

			<!-- ****** COMIENZO VENTANA MODAL FACTURA ****** -->
				<div class="modal-dialog">
					<div class="modal-content" id="contentFactura">
					 	<div class="modal-header">
					    	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					    	<h4 class="modal-title"><font color = "green">Seleccione la factura</font></h4>
					  	</div>

					  	<div class="modal-body">					      
							<div class="table-responsive">
						
								<table class="table table-bordered table-hover table-condensed table-responsive" id="facturaTblModal">
								    <thead>
								        <tr> <!-- class="success" -->
								        	<th style="display: none;"></th>
								        	<th>Nro. factura</font></th> <!-- <font color = "#000000"> -->
								            <th>Cliente nro.</font></th>
								            <th>Nombre</font></th>
								            <th>Fecha factura</font></th>
								            <th>Monto original</font></th>
								            <th>Monto adeudado</font></th>
								            <th>Vencimiento</font></th>
								        </tr>
								    </thead>
								    
									<tbody>
										<tr th:each="ccVar : ${cuentasCorrientes}">
											<td th:attr="class='hidden-td-' + ${ccVar.nro_factura}" style="display: none;"></td>
											<td th:text="${ccVar.nro_factura}"></td>
											<td th:text="${ccVar.id}"></td>
											<td th:text="${ccVar.nombre}"></td>
											<td th:text="${#dates.format(ccVar.fecha_factura, 'dd/MM/yyyy')}"></td>
											<td th:text="${ccVar.monto_original}"></td>
											<td th:text="${ccVar.monto_adeudado}"></td>
											<td th:text="${ccVar.fecha_vencimiento}"></td>
										</tr>
								    </tbody>
								</table>
							</div>
					  	</div>

					  	<div class="modal-footer">
					    	<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
					    	<!--  <button type="button" class="btn btn-primary">Seleccionar</button> -->
					  	</div>
					</div><!-- /.fin modal-content -->
				</div><!-- /. fin modal-dialog -->
			<!-- ****** FIN VENTANA MODAL FACTURA ****** -->

<script type="text/javascript">
	
	$(document).ready(function(){

		//buscador ventana facturas
		$("#facturaTblModal").dataTable();
	
		$('#facturaTblModal').on( 'draw.dt', function () {
			 $(this).find('tr').bind("click", function(){
				selectRowFactura(this);
			});		  
		} );	  
	    
		$("#facturaTblModal tr").click(function(){
			selectRowFactura(this);
		})
		//end
		
		//$("#facturaTblModal tr").click(function(){
		selectRowFactura = function(aThis) {
 			var isDisabled = $(aThis).find('td').first().text();
 			if(isDisabled == 'disabled') {
 				return;
 			}
			
			var facturaSumaImportes = 0;
			var tdArray = $(aThis).find("td");
			
			var idHiddenDate=new Date();
			var idHiddenDate2 = idHiddenDate.getTime().toString();
			
			var facturaNro = tdArray[1].innerHTML; //"123A"; //$(this).text();
			var facturaFecha = tdArray[4].innerHTML;
			var facturaMonto = tdArray[6].innerHTML;
			
			var newRecord = '<tr><td class="facturaNro">' + facturaNro + '</td>';
			newRecord = newRecord + '<td class="facturaFecha">' + facturaFecha + '</td>';
			newRecord = newRecord + '<td class="montoFac">' + facturaMonto + '</td>';
			newRecord = newRecord + '<td class="idParaHidden" style="display: none;">' + idHiddenDate2 + '</td>';
			newRecord = newRecord + '<td><button type="button" class="btn btn-success" aria-label="Left Align" onclick="editarMontoFactura(this)"/></button></td>';
			newRecord = newRecord + '<td><button type="button" class="btn btn-danger" aria-label="Left Align" onclick="eliminarHidden(this)"/></button></td></tr>';
			
			$('#tblFactura tr:last').after(newRecord);
		
 			crearHiddenB('facturaNro', facturaNro, idHiddenDate2);
 			crearHiddenB('facturaFecha', facturaFecha, idHiddenDate2);
 			crearHiddenB('facturaMonto', facturaMonto, idHiddenDate2);
 						
 			//sumo el monto de cada factura
 			sumarMontos("#facturasMontoTotal", facturaMonto);
 			calcularMontoTotalRecibo();
 			//calcularImporte_Descuento();
 			calcularBalance();
 			
 			$(aThis).find('td').first().text('disabled');
 			$(aThis).prop('style', 'background-color: gray');
		}; 
//});
	});
	</script>
</html>