<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>	
	<meta charset="UTF-8">
	<title>Ruka Painé S.r.l</title>
	<meta name="viewport" content="whidt=device-width, user-scalable=no, initial-scale=1.0, maximun-scale=1.0, minimun-scale=1.0">
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/estilosControlPanel.css">
	<link rel="stylesheet" type="text/css" href="css/bootstrap-datepicker.min.css">
</head>

<body>
	<header>
		<div class="container-fluid">
			<div class="row">
				<!-- <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<h1>Ruka Painé S.r.l</h1>
				</div> -->

				<div class="col-xs-12 col-sm-11 col-md-11 col-lg-11" id="idLineaLogueoBienvenida">
					<h5>Bienvenido: Mariano Bertran</h5>
				</div>

				<div class="col-xs-12 col-sm-1 col-md-1 col-lg-1" id="idLineaLogueoSalir">
					<button class="btn btn-link" id="idLogout">Salir</button>
				</div>
			</div>
		</div>
	</header>


	<nav class="navbar navbar-default navColor" id="nav">
		<div class="container-fluid">
		  	<div class="col-xs-12 col-sm-2 col-md-2 col-lg-1">
		  		<a class="navbar-brand" href="greeting">Home</a>
		  	</div>

		  	<div class="col-xs-12 col-sm-2 col-md-2 col-lg-1">
		  		<a class="navbar-brand" href="ingresar1">Ingresar</a>
		  	</div>

		  	<div class="col-xs-12 col-sm-2 col-md-2 col-lg-1">
		  		<a class="navbar-brand" href="reciboVer">Ver</a>
		  	</div>

		  	<div class="col-xs-12 col-sm-2 col-md-2 col-lg-1">
		  		<a class="navbar-brand" href="modificar">Modificar</a>
		  	</div>
		  	
		  	<div class="col-xs-12 col-sm-4 col-md-3 col-lg-2">
		  		<a class="navbar-brand" href="controlPanel"><font color="#COLORENHEXA">Panel de control</font></a>
		  	</div>
		</div>
	</nav>
		
	<!-- ***************************************************************************************************** -->
	<!-- ***************************************************************************************************** -->
	<!-- ***************************************************************************************************** -->
	<!-- ***************************************************************************************************** -->
	<!-- ************************************ COMIENZO contenido ********************************************* -->
	<div class="container-fluid" id="contenido">
		<div class="tab-content">
		<div class="tab-pane active" id="test">
			<div class="row">
				<div  class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
		        	<span class="input-group-addon" id="basic-addon1">Perfil</span>
		        </div>
		        
		        <div  class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
		        	<span class="input-group-addon" id="basic-addon0">Codigo</span>
		        </div>
		        
		        <div  class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
		        	<span class="input-group-addon" id="basic-addon3">Apellido</span>
		        </div>
		        
		        <div  class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
		        	<span class="input-group-addon" id="basic-addon4">Nombre</span>
		        </div>
		        
		        <div  class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
		        	<span class="input-group-addon" id="basic-addon5">Usuario</span>
		        </div>
		        
		        <div  class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
		        	<span class="input-group-addon" id="basic-addon6">Contraseña</span>
		        </div>
			</div>
			<div class="row" id="idListadoUsuarios">
				<div  class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
					<select class="form-control" id="cmbPerfil" aria-describedby="basic-addon1">
			        	<option th:text="-------"></option>
			        	<option th:each="usuarioVar : ${usuarios}" th:text="${usuarioVar.role}" th:value="${usuarioVar.id}"></option>
			        </select>
				</div>
				
				<div  class="col-xs-2 col-sm-2 col-md-2 col-lg-2" id="idDiv">												
					<input type="miTabPanelText3" id="txtCodigo" aria-describedby="basic-addon0">
				</div>				
				
				<div  class="col-xs-2 col-sm-2 col-md-2 col-lg-2">												
					<input type="miTabPanelText3" id="txtApellido" aria-describedby="basic-addon3">
				</div>
				
				<div  class="col-xs-2 col-sm-2 col-md-2 col-lg-2">								
					<input type="miTabPanelText3" id="txtNombre" aria-describedby="basic-addon4">
				</div>
				
				<div  class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
					<input type="miTabPanelText3" id="txtUsuario" aria-describedby="basic-addon5">
				</div>
				
				<div  class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
					<input type="miTabPanelText3" id="txtPwd" aria-describedby="basic-addon6">
				</div>
				
				
								<div class="row">
					<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
						<input class="btn btn-primary btn-lg" type="button" value="Guardar recibo" id="idPrueba">								
	    			</div>
				</div>
				
				
				
			</div>
			</div>
			</div>
			
			
			
			
			
					
		
	</div> <!-- end contenido -->

	<footer>
		<div class="container-fluid">
			<address>
	            Ruka Painé S.r.l &middot; Av. Los Mayas, 253 &middot; 01714 Buenos Aires
    	        <br />
        	    Tel 035774 34711 &middot; Fax 03574 34712
            </address>
		</div>
	</footer>

	<script src="js/jquery.js"></script>
	<script src="js/jquery-validate.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/bootstrap-datepicker.min.js"></script>
	
	<!--  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/js/bootstrap-datepicker.min.js"></script> -->
</body>

<script type="text/javascript">

	$(document).ready(function(){	
		
		$("#idPrueba").click(function() {
			var newRecord = '<div  class="col-xs-2 col-sm-2 col-md-2 col-lg-2">' + '<input type="miTabPanelText3">' + '</div>';
			$('#test div:last').after(newRecord);
			
			
			
			var newdiv = document.createElement('div');
			newdiv.innerHTML = "Entry " + (counter + 1) + " <br><input type='text' name='myInputs[]'>";
	        document.getElementById('idDiv').appendChild(newdiv);
			
			
			
			/*while(i<10){
	               $('#Postsoutput').prepend('<div id="first'+i+'">'+i+'</div>');
	               $('#first'+i).hide(1000);
	               $('#first'+i).show(1000);
	                i++;
	                }*/
			
			
			
			
			
			
			//obj = $('idDiv').form;
			// creo un elemento <input>
			  //elem=document.createElement('input');

			  // le pongo tipo
			  //elem.type='text';
			  
			  //elem.name='prueba';
			  
			  // le pongo al campo el valor que tiene el control file
			  //elem.value=$('idDiv').value;

			  // le añado el control al formulario
			  //obj.appendChild(elem);
		});
		
	}
	
</script>

</html>