<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org" 
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head th:include="layout :: headerFragment"></head>

<body>

	<div th:include="layout :: menuFragment"></div>

	<div class="container-fluid" id="contenido">

		<div class="row" id="successMessage">
			<div class="col-md-2"></div>
			<div th:if="${successMessage != null}" th:text="${successMessage}" class="alert alert-success col-md-8" role="alert"></div>
			<div class="col-md-2"></div>
		</div>

		<div class="row" id="errorMessage">
			<div class="col-md-2"></div>
			<div th:if="${errorMessage != null}" th:text="${errorMessage}" class="alert alert-danger col-md-8" role="alert"></div>
			<div class="col-md-2"></div>
		</div>

		<div class="row">
			<div class="col-md-1"></div>

			<div class="col-md-10">

				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Usuários Painé</h3>
					</div>
					<div class="panel-body">
						<!-- Table -->
						<table class="table table-hover">
							<thead>
								<tr>
									<th>First Name</th>
									<th>Username</th>
									<th>Role</th>
									<th><a th:href="@{/controlPanel/nuevo}" class="btn btn-default">Nuevo Usuário</a></th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="usuario : ${usuarios}">
									<td th:text="${usuario.nombre}"></td>
									<td th:text="${usuario.email}"></td>
									<td th:text="${usuario.role}"></td>
									<td><a th:href="@{/controlPanel/actualizar/} + ${usuario.id}">Actualizar</a></td>
								</tr>

							</tbody>
						</table>
					</div>
				</div>

			</div>

			<div class="col-md-1"></div>

		</div>

		<div class="row">
			<div class="col-md-1"></div>

			<div class="col-md-4">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Subir datos</h3>
					</div>
					<div class="panel-body">
						<form class="form-inline">

							<div class="alert alert-success" role="alert" style="display: none;">File uploaded!</div>
							<div class="alert alert-danger" role="alert" style="display: none;">Error uploading file</div>
														
							<div class="form-group">             
								<input id="fileupload" type="file" name="fileUpload">
								<p class="help-block">Elegir el archivo a subir</p>
							</div>

							<div class="progress" style="display: none;">
								<div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">
									<span class="sr-only">60% Complete</span>
								</div>
							</div>

						</form>
					</div>
				</div>
			</div>

		</div>

	</div>

	<div th:include="layout :: footerFragment"></div>

</body>

<style> 
#mnuCP{color:white;} 
</style> 

<script type="text/javascript">
	$(document).ready(function() {
		$("#successMessage").fadeOut(10000);
		$("#errorMessage").fadeOut(10000);
	});
</script>

<script th:inline="javascript">
$(function () {
    $('#fileupload').fileupload({
    	url: /*[[@{/controlPanel/upload}]]*/,
        dataType: 'json',
	    send: function (e, data) {
			$('.progress').show();
	    }, 
	    progress: function (e, data) {
	        var progress = parseInt(data.loaded / data.total * 100, 10);
	        $('.progress-bar').css('width', progress + '%');
	    }, 
	    always: function (e, data) {
	    	$('.progress').hide();
			$('.progress-bar').css('width', '0%');
	    }, 
	    done: function (e, data) {
	    	
			if(data.result.state === 'ERROR') {
		    	$('.alert.alert-danger').show();
		    	$('.alert.alert-danger').fadeOut(5000);
	    	} else if(data.result.state === 'SUCCESS') {
		    	$('.alert.alert-success').show();
		    	$('.alert.alert-success').fadeOut(5000);
	    	}
	    }, 
	    fail: function (e, data) {
	    	$('.alert.alert-danger').show();
	    	$('.alert.alert-danger').fadeOut(5000);	    	
	    }	    
    });
});
</script>

</html>