<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
      
<head th:include="layout :: headerFragment"></head>

<body>

	<div th:include="layout :: menuFragment"></div>

	<div class="container" id="contenido">
		<div class="row"><!-- COMIENZO recibo, fecha y datos cliente -->
			<div class="row">
				<br>
				<br>
				<br>

				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<img th:src="@{/img/img_paine.jpg}" class="img-thumbnail">
				</div>
			</div>

			<hr />
			<hr align="left" noshade="noshade" size="2" width="80%" />
			<hr align="left" noshade="noshade" size="2" width="60%" />
			<hr align="left" noshade="noshade" size="2" width="40%" />
			<hr align="left" noshade="noshade" size="2" width="20%" />
			<hr align="left" noshade="noshade" size="2" width="10%" />

		</div>
	</div>

	<div th:include="layout :: footerFragment"></div>

</body>

<style> 
#mnuHome{color:white;} 
</style> 

</html>