<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
      
<head th:include="layout :: headerFragment"></head>

<body>

	<div th:include="layout :: menuFragment"></div>

	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<h2>Listado de recibos:</h2>
    		</div>
		</div>

		<div class="table-responsive">
			<table class="table table-bordered table-hover table-condensed">
				<tr class="success">
					<th># de recibo</th>
					<th># de cliente</th>
					<th>Fecha</th>
					<th>Hora</th>
					<th>monto</th>
					<th>Descuento</th>
					<th>Observaciones</th>
				</tr>

				<tr>
					<th>123456</th>
					<th>100100</th>
					<th>03/ENE/2016</th>
					<th>14:07:41</th>
					<th>2600000</th>
					<th>10%</th>
					<th>Efectivo</th>
				</tr>

				<tr>
					<th>123456</th>
					<th>100100</th>
					<th>03/ENE/2016</th>
					<th>14:07:41</th>
					<th>2600000</th>
					<th>10%</th>
					<th>Efectivo</th>
				</tr>

				<tr>
					<th>123456</th>
					<th>100100</th>
					<th>03/ENE/2016</th>
					<th>14:07:41</th>
					<th>2600000</th>
					<th>10%</th>
					<th>Efectivo</th>
				</tr>

			</table>
		</div>
	</div>

	<footer>
		<div class="container">
			<address>
	            Ruka Painé S.r.l &middot; Av. Los Mayas, 253 &middot; 01714 Buenos Aires
    	        <br />
        	    Tel 035774 34711 &middot; Fax 03574 34712
            </address>
		</div>
	</footer>

	<script src="js/jquery.js"></script>
	<script src="js/bootstrap.min.js"></script>
</body>

</html>