<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
      
<head th:include="layout :: headerFragment"></head>

<body>
	<div th:include="layout :: menuFragment"></div>


	<div id="container">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Lotes cargados</h3>
			</div>
			<div class="panel-body">
				<!-- Table -->
				<table class="table table-hover" id="tblLotes">
					<thead>
						<tr>
							<th style="display: none;"></th>
							<th><font color="#000000">Lote #</font></th>
							<th><font color="#000000">Fecha</font></th>
							<th><font color="#000000">Vendedor</font></th>
							<th><font color="#000000">Nombre</font></th>
							<th><font color="#000000">Exportar</font></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="varRecibosSinExportar : ${recibos}">
							<td th:text="${varRecibosSinExportar.id}" style="display: none;"></td>
							<td class="miId" th:text="${varRecibosSinExportar.lote}"></td>
							<td th:text="${varRecibosSinExportar.fechaLote}"></td>
							<td th:text="${varRecibosSinExportar.getUsuario().codigo}"></td>
							<td th:text="${varRecibosSinExportar.getUsuario().nombre}"></td>
							<td><input type="checkbox" name="myTextEditBox" value="checked" style="margin-left:auto; margin-right:auto;"></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		
		<div class="alert alert-success" role="alert" style="display: none;">Datos exportados!</div>
		<div class="alert alert-danger" role="alert" style="display: none;">Se produjo un error al intentar exportar los lotes</div>
							
		<input class="btn btn-primary btn-lg" type="button" value="Exportar lotes" id="idExportarLote">
		
		<!-- Link oculto que hace el download. Es llamado cuando el AJAX retorna con suceso -->
		<a th:href="@{/controlPanel/exportarRecibos}" class="btn btn-default" id="export-link-id" style="display: none;"></a>
		
		<br>
		<br>
	<!-- 	<input th:value="${nroLote}" id="idNroLote" readonly="readonly" width="50px">  -->
	</div>

	<div th:include="layout :: footerFragment"></div>
	
	<form action="#" th:action="@{/controlPanel/exportarRecibos}" th:object="${lotesAExportarDto}" method="post" id="reciboFormId">
	</form>
	
</body>

<style> 
#mnuLoteExportar{color:white;} 
</style> 

<script type="text/javascript">
var executarExport = false;

$(document).ready(function(){
	
	$("#successMessage").fadeOut(10000);
	$("#errorMessage").fadeOut(10000);
	
	$('#idExportarLote').click(function(e) {
		e.preventDefault();
	
		var noSeleccionoLote = true;
		
		$('#tblLotes').find('tr').each(function () {
	        var row = $(this);
	        if (row.find('input[type="checkbox"]').is(':checked')) {
	        	noSeleccionoLote = false;
	        	var idHiddenDate = new Date();
				var idHiddenDate2 = idHiddenDate.getTime().toString();
				
	        	var loteId = $(this).find('.miId').text();
	           <!-- crearHiddenB('lotes', loteId, idHiddenDate2); -->
	            crearHiddenB('lotes', loteId, loteId);
	        }
	    });
		
		if(noSeleccionoLote){
			alert("Debe seleccionar al menos un lote!");
			return;
		}
		
		$.fileDownload("controlPanel/exportarRecibos", {
			data: $('#reciboFormId').serialize(), 
			successCallback: function (url) { 
				$('.alert.alert-success').show();
				$('.alert.alert-success').fadeOut(5000);
				
				$('#tblLotes').find('tr').each(function () {
			        var row = $(this);
			        
		        	var idHidden = $(row).find('.miId').text(); <!-- linea mia -->
		        	
			        if (row.find('input[type="checkbox"]').is(':checked')) {
			        	$('.' + idHidden).remove(); <!-- linea mia -->
			        	row.remove();
			        }
			    });				
			}, 
			failCallback: function (responseHtml, url, error) { 
		    	$('.alert.alert-danger').show();
		    	$('.alert.alert-danger').fadeOut(5000);
			}		
		});
	});
});

crearHiddenB = function(nameVar, valueVar, id){
	//elimino los '.' y los espacios en blanco para el ID del Hidden
	var AuxId = id;
	AuxId = AuxId.split(' ').join('');
	AuxId = AuxId.split('.').join('');
	AuxId = AuxId.split(',').join('');
	AuxId = AuxId.split('/').join('');
	
	var tempHidden = $('<input>').attr({
		'type': 'hidden',
		'name': nameVar, 
		'value': valueVar,
		'class':AuxId
	});
	
	$('#reciboFormId').append(tempHidden);
};
</script>

</html>