<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
      
<head th:include="layout :: headerFragment"></head>

<body>

	<div th:include="layout :: menuFragment"></div>

	<div class="container" id="contenido"> <!-- COMIENZO contenido -->
		<div class="row"><!-- COMIENZO recibo, fecha y datos cliente -->
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
					<label for="exampleInputEmail1">Recibo #</label>	
	    			<input type="text" th:value="${recibo.numero}" class="form-control" id="nroRecibo">
	    		</div>

	    		<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
					<label for="exampleInputEmail1">Fecha</label>
	    			<input type="text" th:value="${recibo.fecha}" class="form-control" id="fecha">
	    		</div>

	    		<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
					<label for="exampleInputEmail1">Cliente #</label>
	    			<input type="text" class="form-control" id="nroCliente" th:value="${recibo.getCliente().numeroCliente}">
	    		</div>

				<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
					<label for="exampleInputEmail1">Cliente</label>
	    			<input type="text" class="form-control" id="id_nom_cte" th:value="${recibo.getCliente().nombre}"></input>
	    		</div>


			</div> 
		</div><!-- END recibo, fecha y datos cliente -->
		<br>
		<br>

			<!-- **************************************************************************************** -->
			<!-- **************************************************************************************** -->
			<!-- **************************************************************************************** -->
			<!-- ********************************************************** COMIENZO datos FACTURA ****** -->

		<div class="row">
			<div class="row"> 
	    		<div class="col-xs-12 col-sm-7 col-md-7 col-lg-6">
					 <div class="table-responsive"> 
				<!--	<div class="panel panel-default"> -->
						<table class="table table-bordered table-responsive" id="tblFacturaVer">
						    <thead>
						        <tr>
						            <th><font color = "white">Factura nro.</font></th>
						            <th><font color = "white">Fecha</font></th>
						            <th><font color = "white">Monto</font></th>
						        </tr>
						    </thead>
						    
							<tbody>							
							 	<tr th:each="facturaVar : ${recibo.getFacturas()}">
								    <!-- <td th:text="${facturaVar.id}" style="display: none;"></td> -->
									<td th:text="${facturaVar.numero}"></td>
									<td th:text="${facturaVar.fecha}"></td>
									<td th:text="${facturaVar.monto}"></td>									
								</tr>			
						    </tbody>			
						</table>
					</div>	    		
				</div>
				<div class="col-xs-12 col-sm-5 col-md-5 col-lg-6">		
					<label for="exampleInputEmail1"><font color = "#610B0B">Monto total de facturas agregadas</font></label>
					<input type="text" class="form-control" id="facturasMontoTotal" readonly="readonly" th:value="${recibo.importeSumaFacturas}">		
				</div>
			</div> 
		</div> <!-- END datos FACTURA -->

		<br>



		<div class="row" id="tipoDePago"> <!-- *** COMIENZO TIPO DE PAGO *** -->
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<span class="subrayado"><h3><font color = "green">Tipo de pago:</font></h3></span>
	    		</div>
			</div>



		    <!-- *** COMIENZO EFECTIVO *** -->
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<span class="subrayado"><h5>EFECTIVO</h5></span>
				</div>
			</div>
    		<div class="row">
				<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" id="idEfectivo">
					<label for="exampleInputEmail1" style="margin-left: 0px;"><font color = "green">Importe</font></label>
					<input type="text" class="form-control" id="idEfectivoImporte" th:value="${recibo.getTpEff().monto}">
					<br>
				</div>
			</div>
			<hr align="left" noshade="noshade" size="2" width="100%" />
			<!-- *** FIN EFECTIVO *** -->


			<!-- **************************************************************************************** -->
			<!-- **************************************************************************************** -->
			<!-- **************************************************************************************** -->
			<!-- ******************************************************************** COMIENZO CHEQUE *** -->

			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<span class="subrayado"><h5>CHEQUE</h5></span>
				</div>
			</div>

			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="idChequeListado">
					<div class="table-responsive">
						<table class="table table-bordered table-responsive" id="tableChequeVer">
						    <thead>
						        <tr>
						            <th><font color = "white">Banco</font></th>
						            <th><font color = "white">Importe</font></th>
						            <th><font color = "white">Cheque_#</font></th>
						            <th><font color = "white">CUIT</font></th>
						            <th><font color = "white">Fecha</font></th>
						        </tr>
						    </thead>
						    
							<tbody>
							 	<tr th:each="chequeVar : ${recibo.getTpCheques()}">
									<td th:text="${chequeVar.banco.id}"></td>
									<td th:text="${chequeVar.monto}"></td>
									<td th:text="${chequeVar.numero}"></td>
									<td th:text="${chequeVar.cuit}"></td>
									<td th:text="${chequeVar.fechaDeposito}"></td>							
								</tr>	
						    </tbody>
						</table>
					</div>
					<label for="exampleInputEmail1">Monto total de cheques agregados</label>
					<input type="text" class="form-control" id="chequeMontoTotalId" readonly="readonly" th:value="${sumaMontoCheques}">
				</div>
			</div>
			<br>
			<!-- </div> el de efectivo-->
			<hr align="left" noshade="noshade" size="2" width="100%" />
			<!-- *** FIN CHEQUE *** -->

			<!-- ******************************************************************************************************* -->
			<!-- ******************************************************************************************************* -->
			<!-- ******************************************************************************************************* -->
			<!-- ******************************************************************************************************* -->
			<!-- ******************************************************************** COMIENZO DEPOSITO **************** -->
			
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<span class="subrayado"><h5>DEPOSITO</h5></span>
				</div>
			</div>

			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="idChequeListado">					
					<div class="table-responsive">
						<table class="table table-bordered table-responsive" id="tableDepositoVer">
						    <thead>
						        <tr>
						            <th><font color = "white">Banco</font></th>
						            <th><font color = "white">Importe</font></th>
						            <th><font color = "white">Fecha de depósito</font></th>
						        </tr>
						    </thead>
							 	<tr th:each="depositoVar : ${recibo.getTpDepositos()}">
									<td th:text="${depositoVar.banco.id}"></td>
									<td th:text="${depositoVar.monto}"></td>
									<td th:text="${depositoVar.fecha}"></td>							
								</tr>						    
							<tbody>
						    </tbody>
						</table>
					</div>
					<label for="exampleInputEmail1">Monto total depósitos agregados</label>
					<input type="text" class="form-control" id="depositoMontoTotal" readonly="readonly" th:value="${sumaMontoDepositos}">
				</div>
			</div>
			<br>
			<hr align="left" noshade="noshade" size="2" width="100%" />
			<!-- *** FIN DEPOSITO *** -->

			<!-- ******************************************************************************************************* -->
			<!-- ******************************************************************************************************* -->
			<!-- ******************************************************************************************************* -->
			<!-- ******************************************************************************************************* -->
			<!-- ******************************************************************** COMIENZO DEPOSITO **************** -->
			
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<span class="subrayado"><h5>RETENCION</h5></span>
				</div>
			</div>						

			<div class="row">			
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="idRetencionListado">					
					<div class="table-responsive">
						<table class="table table-bordered table-responsive" id="tableRetencionVer">
						    <thead>
						        <tr>
						            <th><font color = "white">Retención #</font></th>
						            <th><font color = "white">Importe</font></th>
						            <th><font color = "white">Sucursal</font></th>
						            <th><font color = "white">Año</font></th>
						        </tr>
						    </thead>
						 		<tr th:each="retencionVar : ${recibo.getTpRetenciones()}">
									<td th:text="${retencionVar.numero}"></td>
									<td th:text="${retencionVar.monto}"></td>
									<td th:text="${retencionVar.sucursal}"></td>
									<td th:text="${retencionVar.anio}"></td>				
								</tr>				    
							<tbody>
						    </tbody>
						</table>
					</div>
				</div>
			</div>
			<br>
			<!-- *** FIN RETENCION *** -->
		</div> <!-- *** END TIPO DE PAGO *** -->

		<div class="row"> <!-- *** comienzo descuento e importe total *** -->
			<hr />
			<hr align="left" noshade="noshade" size="2" width="100%" />

			<div class="row">
				<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
					<label for="exampleInputEmail1"><font color = "green">Descuento</font></label>
	    			<input type="text" class="form-control" id="idDescuento" th:value="${recibo.descuento}">
	    		</div>

				<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
					<div>
						<label for="exampleInputEmail1"><font color = "green">Importe total del recibo</font></label>
						<input style="width:240px;" type="text" class="form-control" readonly="readonly" id="idMontoTotalRecibo" th:value="${recibo.importeTotal}">
					</div>
					<br>
					<br>
	    		</div>
			</div>

	<!-- 		<div class="row">
				<br>
				<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
					<input class="btn btn-primary btn-lg" type="button" value="Guardar recibo" id="idGuardarRecibo">
					<br>
					<br>
	    		</div>
			</div> -->
		</div> <!-- *** END descuento e importe total *** -->
	</div> <!-- end contenido -->

	<div th:include="layout :: footerFragment"></div>

</body>

		<!-- ***********************************************************************************-->
		<!-- ***********************************************************************************-->
		<!-- ************************ COMIENZO VENTANA MODAL RECIBO ***************************-->
				
					<div class="modal fade" id="modal_recibos" tabindex="-1"  role="dialog"  aria-labelledby="myModalLabel" aria-hidden="true">
					  <div class="modal-dialog">
					    <div class="modal-content">
					     	<div class="modal-header">
					        	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					        	<h4 class="modal-title"><font color = "green">Seleccione el Recibo</font></h4>
					      	</div>

					      <div class="modal-body">
					      	<div>
								<span class="subrayado"><h3>Opciones de busqueda</h3></span>
							</div>
				
					      	<div>
								<label for="exampleInputEmail1"><h5>Recibo #</h5></label>
	    						<input type="text" class="form-control" id="mdl_cte_busq_cte_nro">
	    						
	    						<label for="exampleInputEmail1"><h5>Cliente #</h5></label>
	    						<input type="text" class="form-control" id="mdl_cte_busq_cte_nom">
	    						<br>
	    						<br>
	    					</div>
	    										        
					        <table class="table table-bordered table-hover table-responsive" id="tableSelectCliente">
							    <thead>
							        <tr>
							            <th><font color = "#000000">Recibo #</font></th>
							            <th><font color = "#000000">Fecha</font></th>
							            <th><font color = "#000000">Cliente #</font></th>
							            <th><font color = "#000000">Nombre</font></th>
							            <th><font color = "#000000">Importe total</font></th>
							        </tr>
							    </thead>
							    
								<tbody>
									<tr th:each="recibosVarTodos : ${recibos}">
								    <td th:text="${recibosVarTodos.id}" style="display: none;"></td>
									<td th:text="${recibosVarTodos.numero}"></td>
								    <td th:text="${recibosVarTodos.fecha}"></td>
									<td th:text="${recibosVarTodos.getCliente().numeroCliente}"></td>
									<td th:text="${recibosVarTodos.getCliente().nombre}"></td>
									<td th:text="${recibosVarTodos.importeTotal}"></td>
									</tr>
							    </tbody>
							</table>
					      </div>

					      <div class="modal-footer">
					        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
					      </div>
					    </div><!-- /.modal-content -->
					  </div><!-- /.modal-dialog -->
					</div><!-- /.modal -->	
	    		<!-- ****** FIN VENTANA MODAL RECIBOS ****** -->

<style> 
#mnuVer{color:white;} 
</style>

<script type="text/javascript">
	
	$(document).ready(function(){
		$("#modal_recibos").modal();

		$("#tableSelectCliente tr").click(function(){
			var tdArray = $(this).find("td");

			var reciboId = tdArray[0].innerHTML;

			$("#modal_recibos").modal('toggle');
		});
	});
	
</script>

</html>