<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
      
	<div class="container-fluid" id="contenido"> <!-- COMIENZO contenido -->
		<div class="row"><!-- COMIENZO recibo, fecha y datos cliente -->
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
					<label for="exampleInputEmail1">Recibo #</label>	
	    			<input type="text" th:value="${recibo.numero}" class="form-control" id="nroRecibo">
	    		</div>

	    		<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
					<label for="exampleInputEmail1">Fecha</label>
	    			<input type="text" th:value="${recibo.fecha}" class="form-control" id="fecha">
	    		</div>

	    		<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
					<label for="exampleInputEmail1">Cliente #</label>
	    			<input type="text" class="form-control" id="nroCliente" th:value="${recibo.getCliente().numeroCliente}">
	    		</div>

				<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
					<label for="exampleInputEmail1">Cliente</label>
	    			<input type="text" class="form-control" id="id_nom_cte" th:value="${recibo.getCliente().nombre}"></input>
	    		</div>


			</div> 
		</div><!-- END recibo, fecha y datos cliente -->
		<br>
		<br>

			<!-- **************************************************************************************** -->
			<!-- **************************************************************************************** -->
			<!-- **************************************************************************************** -->
			<!-- ********************************************************** COMIENZO datos FACTURA ****** -->

		<div class="row">
			<div class="row"> 
	    		<div class="col-xs-12 col-sm-7 col-md-7 col-lg-6">
					 <div class="table-responsive"> 
				<!--	<div class="panel panel-default"> -->
						<table class="table table-bordered table-responsive" id="tblFacturaVer">
						    <thead>
						        <tr>
						            <th><font color = "white">Factura nro.</font></th>
						            <th><font color = "white">Fecha</font></th>
						            <th><font color = "white">Monto</font></th>
						        </tr>
						    </thead>
						    
							<tbody>							
							 	<tr th:each="facturaVar : ${recibo.getFacturas()}">
								    <!-- <td th:text="${facturaVar.id}" style="display: none;"></td> -->
									<td th:text="${facturaVar.numero}"></td>
									<td th:text="${facturaVar.fecha}"></td>
									<td th:text="${facturaVar.monto}"></td>									
								</tr>			
						    </tbody>			
						</table>
					</div>	    		
				</div>
				<div class="col-xs-12 col-sm-5 col-md-5 col-lg-6">		
					<label for="exampleInputEmail1"><font color = "#610B0B">Monto total de facturas agregadas</font></label>
					<input type="text" class="form-control" id="facturasMontoTotal" readonly="readonly" th:value="${recibo.importeSumaFacturas}">		
					
					<br/>
					
					
					
					<span class="subrayado"><h5>Observaciones</h5></span>
					<textarea th:text="${recibo.observaciones}" class="form-control" rows="4" placeholder="" id="idObservaciones"></textarea>
					
				</div>
			</div> 
		</div> <!-- END datos FACTURA -->
		<!--	<hr align="left" noshade="noshade" size="2" width="100%" />  -->
		
		
		
		
		
		<div class="row" id="tipoDePago"> <!-- *** COMIENZO TIPO DE PAGO *** -->
			<hr />
			<div class="row"> <!-- START CHEQUE, DEPOSITO Y RETENCION -->
				<!-- COMIENZO CHEQUE -->
				<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4" id="idChequeListado">
					<span class="subrayado"><h5>CHEQUE</h5></span>
					<div class="table-responsive">
						<table class="table table-bordered table-responsive" id="tableChequeVer">
						    <thead>
						        <tr>
						            <th><font color = "white">Banco</font></th>
						            <th><font color = "white">Importe</font></th>
						            <th><font color = "white">Cheque_#</font></th>
						            <th><font color = "white">CUIT</font></th>
						            <th><font color = "white">Fecha</font></th>
						        </tr>
						    </thead>
						    
							<tbody>
							 	<tr th:each="chequeVar : ${recibo.getTpCheques()}">
									<td th:text="${chequeVar.banco.abreviatura}"></td>
									<td th:text="${chequeVar.monto}"></td>
									<td th:text="${chequeVar.numero}"></td>
									<td th:text="${chequeVar.cuit}"></td>
									<td th:text="${chequeVar.fechaDeposito}"></td>							
								</tr>	
						    </tbody>
						</table>
					</div>
					<label for="exampleInputEmail1">Monto total de cheques agregados</label>
					<input type="text" class="form-control" id="chequeMontoTotalId" readonly="readonly" th:value="${sumaMontoCheques}">
				</div> <!-- *** FIN CHEQUE *** -->
				
				<!-- COMIENZO DEPOSITO -->
				<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4" id="idChequeListado">
					<span class="subrayado"><h5>DEPOSITO</h5></span>					
					<div class="table-responsive">
						<table class="table table-bordered table-responsive" id="tableDepositoVer">
						    <thead>
						        <tr>
						            <th><font color = "white">Banco</font></th>
						            <th><font color = "white">Importe</font></th>
						            <th><font color = "white">Fecha</font></th>
						        </tr>
						    </thead>
							 	<tr th:each="depositoVar : ${recibo.getTpDepositos()}">
									<td th:text="${depositoVar.banco.abreviatura}"></td>
									<td th:text="${depositoVar.monto}"></td>
									<td th:text="${depositoVar.fecha}"></td>							
								</tr>						    
							<tbody>
						    </tbody>
						</table>
					</div>
					<label for="exampleInputEmail1">Monto total depósitos agregados</label>
					<input type="text" class="form-control" id="depositoMontoTotal" readonly="readonly" th:value="${sumaMontoDepositos}">
				</div> <!-- FIN DEPOSITO -->
				
				<!-- COMIENZO RETENCION -->
				<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4" id="idRetencionListado">		
					<span class="subrayado"><h5>RETENCION</h5></span>			
					<div class="table-responsive">
						<table class="table table-bordered table-responsive" id="tableRetencionVer">
						    <thead>
						        <tr>
						        	<th><font color = "white">Tipo de pago</font></th>
						            <th><font color = "white">Retención_#</font></th>
						            <th><font color = "white">Importe</font></th>
						     <!--        <th><font color = "white">Sucursal</font></th>
						            <th><font color = "white">Año</font></th> -->
						        </tr>
						    </thead>
						 		<tr th:each="retencionVar : ${recibo.getTpRetenciones()}">
									<td th:text="${retencionVar.tipoPago}"></td>
									<td th:text="${retencionVar.numero}"></td>
									<td th:text="${retencionVar.monto}"></td>
								<!--	<td th:text="${retencionVar.sucursal}"></td>
									<td th:text="${retencionVar.anio}"></td>			-->	
								</tr>				    
							<tbody>
						    </tbody>
						</table>
					</div>
					<label for="exampleInputEmail1">Monto total de retenciones agregados</label>
					<input type="text" class="form-control" id="retencionesMontoTotalId" readonly="readonly" th:value="${sumaMontoRetenciones}">
				</div> <!-- FIN RETENCION -->
				
			</div> <!-- FIN CHEQUE, DEPOSITO Y RETENCION -->
		</div>

		<div class="row"> <!-- *** comienzo descuento e importe total *** -->
			<br />
			<hr align="left" noshade="noshade" size="2" width="100%" />

			<div class="row">
				<!-- *** COMIENZO EFECTIVO *** -->
				<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
					<label for="exampleInputEmail1" style="margin-left: 0px;"><font color = "green">Efectivo</font></label>
					<input type="text" class="form-control" id="idEfectivoImporte" th:value="${recibo.getTpEff().monto}">
				</div>
				<!-- *** FIN EFECTIVO *** -->
					
				<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
					<label for="exampleInputEmail1"><font color = "green">Descuento</font></label>
	    			<input type="text" class="form-control" id="idDescuento" th:value="${recibo.descuento}">
	    		</div>

				<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
					<div>
						<label for="exampleInputEmail1"><font color = "green">Importe total del recibo</font></label>
						<input type="text" class="form-control" readonly="readonly" id="idMontoTotalRecibo" th:value="${recibo.importeTotal}">
					</div>
	    		</div>
	    		
	    		<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
					<label for="exampleInputEmail1"><font color = "green">Lote</font></label>
	    			<input type="text" class="form-control" id="idLote" th:value="${recibo.lote}">
	    		</div>
			</div>
		</div> <!-- *** END descuento e importe total *** -->
	</div> <!-- end contenido -->

</html>